parameters:

    ecentria.api.builder.error.class:              Ecentria\Libraries\EcentriaRestBundle\Services\ErrorBuilder
    ecentria.api.builder.notice.class:             Ecentria\Libraries\EcentriaRestBundle\Services\NoticeBuilder
    ecentria.api.builder.transaction.class:        Ecentria\Libraries\EcentriaRestBundle\Services\Transaction\TransactionBuilder

    ecentria.api.configuration.manager.class:      Ecentria\Libraries\EcentriaRestBundle\Services\ConfigurationManager

    ecentria.api.crud.manager.class:               Ecentria\Libraries\EcentriaRestBundle\Services\CRUD\CrudManager
    ecentria.api.crud.transformer.class:           Ecentria\Libraries\EcentriaRestBundle\Services\CRUD\CrudTransformer

    ecentria.api.transaction.handler.get.class:    Ecentria\Libraries\EcentriaRestBundle\Services\Transaction\Handler\TransactionGetHandler
    ecentria.api.transaction.handler.patch.class:  Ecentria\Libraries\EcentriaRestBundle\Services\Transaction\Handler\TransactionPatchHandler
    ecentria.api.transaction.handler.delete.class: Ecentria\Libraries\EcentriaRestBundle\Services\Transaction\Handler\TransactionDeleteHandler
    ecentria.api.transaction.handler.post.class:   Ecentria\Libraries\EcentriaRestBundle\Services\Transaction\Handler\TransactionPostHandler
    ecentria.api.transaction.handler.put.class:    Ecentria\Libraries\EcentriaRestBundle\Services\Transaction\Handler\TransactionPutHandler
    ecentria.api.transaction.manager.class:        Ecentria\Libraries\EcentriaRestBundle\Services\Transaction\TransactionResponseManager

    ecentria.api.request_creator.class:            Ecentria\Libraries\EcentriaRestBundle\Services\RequestCreator

services:

    # Builders
    ecentria.api.builder.error:
        class: %ecentria.api.builder.error.class%

    ecentria.api.builder.notice:
        class: %ecentria.api.builder.notice.class%

    ecentria.api.builder.transaction:
        class: %ecentria.api.builder.transaction.class%

    # Configuration
    ecentria.api.configuration.manager:
        class: %ecentria.api.configuration.manager.class%
        arguments:
            - @router

    # Crud
    ecentria.api.crud.manager:
        class: %ecentria.api.crud.manager.class%
        arguments:
            - @doctrine.orm.default_entity_manager
            - @ecentria.api.validator
            - @event_dispatcher
            - @ecentria.api.crud.transformer

    ecentria.api.crud.transformer:
        class: %ecentria.api.crud.transformer.class%
        arguments:
            - @doctrine.orm.default_entity_manager
            - @annotations.reader
            - @jms_serializer
            - @ecentria.api.validator

    # Transaction
    ecentria.api.transaction.handler.get:
        class: %ecentria.api.transaction.handler.get.class%
        arguments:
            - @doctrine.orm.default_entity_manager
            - @ecentria.api.builder.error
        tags:
            - { name: ecentria.api.tag.transaction_handler }

    ecentria.api.transaction.handler.patch:
        class: %ecentria.api.transaction.handler.patch.class%
        arguments:
            - @ecentria.api.builder.error
        tags:
            - { name: ecentria.api.tag.transaction_handler }

    ecentria.api.transaction.handler.delete:
        class: %ecentria.api.transaction.handler.delete.class%
        arguments:
            - @ecentria.api.builder.error
        tags:
            - { name: ecentria.api.tag.transaction_handler }

    ecentria.api.transaction.handler.post:
        class: %ecentria.api.transaction.handler.post.class%
        arguments:
            - @doctrine.orm.default_entity_manager
            - @ecentria.api.builder.error
            - @ecentria.api.builder.notice
        tags:
            - { name: ecentria.api.tag.transaction_handler }

    ecentria.api.transaction.handler.put:
        class: %ecentria.api.transaction.handler.put.class%
        arguments:
            - @doctrine.orm.default_entity_manager
            - @ecentria.api.builder.error
            - @ecentria.api.builder.notice
        tags:
            - { name: ecentria.api.tag.transaction_handler }

    ecentria.api.transaction.manager:
            class: %ecentria.api.transaction.manager.class%
            arguments: [~]

    # Creator
    ecentria.api.request_creator:
        class: %ecentria.api.request_creator.class%
        arguments:
            - @ecentria.api.crud.manager
            - @request_stack
            - @router
            - @kernel